services:

  zipkin:
    image: openzipkin/zipkin
    container_name: zipkin
    ports:
      - 9411:9411
    networks:
      - ecommerce-network        

  service-discovery:
    build:
      context: ./service-discovery
      dockerfile: Dockerfile
    container_name: service-discovery
    ports:
      - 8761:8761
    depends_on:
      - zipkin
    environment:
      - SPRING_PROFILES_ACTIVE=dev
      - SPRING_ZIPKIN_BASE_URL=http://zipkin:9411/
    networks:
      - ecommerce-network
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8761/actuator/health"]
      interval: 10s
      timeout: 5s
      retries: 10

  cloud-config:
    build:
      context: ./cloud-config
      dockerfile: Dockerfile
    container_name: cloud-config
    depends_on:
        zipkin:
          condition: service_healthy
        service-discovery:
          condition: service_healthy
    ports:
      - 9296:9296
    environment:
      - SPRING_PROFILES_ACTIVE=dev
      - SPRING_ZIPKIN_BASE_URL=http://zipkin:9411/
    networks:
      - ecommerce-network
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:9296/actuator/health"]
      interval: 10s
      timeout: 5s
      retries: 10

  api-gateway:
    build:
      context: ./api-gateway
      dockerfile: Dockerfile
    container_name: api-gateway
    depends_on:
      cloud-config:
        condition: service_healthy
      service-discovery:
        condition: service_healthy
    ports:
      - 8080:8080
    environment:
      - SPRING_PROFILES_ACTIVE=dev
      - EUREKA_CLIENT_SERVICE_URL_DEFAULTZONE=http://service-discovery:8761/eureka
      - SPRING_ZIPKIN_BASE_URL=http://zipkin:9411/
      - SPRING_CONFIG_IMPORT=optional:configserver:http://cloud-config:9296
    networks:
      - ecommerce-network

  proxy-client:
    build:
      context: ./proxy-client
      dockerfile: Dockerfile
    container_name: proxy-client
    ports:
      - 8900:8900
    depends_on:
      cloud-config:
        condition: service_healthy
      service-discovery:
        condition: service_healthy
    environment:
      - SPRING_PROFILES_ACTIVE=dev
      - SPRING_ZIPKIN_BASE_URL=http://zipkin:9411/
      - SPRING_CONFIG_IMPORT=optional:configserver:http://cloud-config:9296
    networks:
      - ecommerce-network      

  order-service:
    build:
      context: ./order-service
      dockerfile: Dockerfile
    container_name: order-service
    ports:
      - 8300:8300
    depends_on:
      cloud-config:
        condition: service_healthy
      service-discovery:
        condition: service_healthy
    environment:
      - SPRING_PROFILES_ACTIVE=dev
      - SPRING_ZIPKIN_BASE_URL=http://zipkin:9411/
      - SPRING_CONFIG_IMPORT=optional:configserver:http://cloud-config:9296
    networks:
      - ecommerce-network     

  payment-service:
    build:
      context: ./payment-service
      dockerfile: Dockerfile
    container_name: payment-service
    ports:
      - 8400:8400
    depends_on:
      cloud-config:
        condition: service_healthy
      service-discovery:
        condition: service_healthy
    environment:
      - SPRING_PROFILES_ACTIVE=dev
      - SPRING_ZIPKIN_BASE_URL=http://zipkin:9411/
      - SPRING_CONFIG_IMPORT=optional:configserver:http://cloud-config:9296
    networks:
      - ecommerce-network     

  # product-service:
  #   build:
  #     context: ./product-service
  #     dockerfile: Dockerfile
  #   container_name: product-service
  #   ports:
  #     - 8500:8500
  #   depends_on:
  #     cloud-config:
  #       condition: service_healthy
  #     service-discovery:
  #       condition: service_healthy
  #   environment:
  #     - SPRING_PROFILES_ACTIVE=dev
  #     - SPRING_ZIPKIN_BASE_URL=http://zipkin:9411/
  #     - SPRING_CONFIG_IMPORT=optional:configserver:http://cloud-config:9296
  #   networks:
  #     - ecommerce-network     

  # shipping-service:
  #   build:
  #     context: ./shipping-service
  #     dockerfile: Dockerfile
  #   container_name: shipping-service
  #   ports:
  #     - 8600:8600
  #   depends_on:
  #     cloud-config:
  #       condition: service_healthy
  #     service-discovery:
  #       condition: service_healthy
  #   environment:
  #     - SPRING_PROFILES_ACTIVE=dev
  #     - SPRING_ZIPKIN_BASE_URL=http://zipkin:9411/
  #     - SPRING_CONFIG_IMPORT=optional:configserver:http://cloud-config:9296
  #   networks:
  #     - ecommerce-network   

  # user-service:
  #   build:
  #     context: ./user-service
  #     dockerfile: Dockerfile
  #   container_name: user-service
  #   ports:
  #     - 8700:8700
  #   depends_on:
  #     cloud-config:
  #       condition: service_healthy
  #     service-discovery:
  #       condition: service_healthy
  #   environment:
  #     - SPRING_PROFILES_ACTIVE=dev
  #     - SPRING_ZIPKIN_BASE_URL=http://zipkin:9411/
  #     - SPRING_CONFIG_IMPORT=optional:configserver:http://cloud-config:9296
  #   networks:
  #     - ecommerce-network      

  # favourite-service:
  #   build:
  #     context: ./favourite-service
  #     dockerfile: Dockerfile
  #   container_name: favourite-service
  #   ports:
  #     - 8800:8800
  #   depends_on:
  #     cloud-config:
  #       condition: service_healthy
  #     service-discovery:
  #       condition: service_healthy
  #   environment:
  #     - SPRING_PROFILES_ACTIVE=dev
  #     - SPRING_ZIPKIN_BASE_URL=http://zipkin:9411/
  #     - SPRING_CONFIG_IMPORT=optional:configserver:http://cloud-config:9296
  #   networks:
  #     - ecommerce-network

networks:
  ecommerce-network:
    driver: bridge



